:root
{
  --aqua:#1efeff;
  --green:#00c2cb;
    --black : #242D49;
    --gray : #788097;
    --blueCard : #DDF8FE;
    --purple: rgb(238 210 255);
    --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
    --orangeCard: rgba(252, 166, 31, 0.45);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

.App{
    padding: 0.5rem 3.5rem;
    overflow: hidden;
    color: var(--black);    
}

.button {
  border-radius: 30px;
  border: none;
  color: white;
  font-size: 16x;
  padding: 10px;
  background: -webkit-linear-gradient(180deg, #1efeff 26.71%, #00c2cb 99.36%);
  box-shadow: 0px 20px 24 3px rgba(251, 161, 41, 0.40);
}
.button:hover{
  background: white;
  cursor: pointer;
  color: var(--aqua);
  border: 1px solid var(--aqua);
}

@media screen and (max-width: 480px) {
  .App{
    padding: 0.5rem 1rem;
  }
}
